/* Make <body> a flex container and stack children vertically */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

/* Make <main> a flex container for article and aside (side-by-side) */
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

/* Make article take 2/3 of the space */
article {
  flex: 2;
  overflow-y: auto;
}

/* Make aside take 1/3 of the space */
aside {
  flex: 1;
  overflow-y: auto;
}
